<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.comments.mapper.CommentsMapper">

	<!-- 전체 댓글 조회 -->
	<select id="commentSelect" resultType="CommentsDTO">
		SELECT c.*, m.USER_NAME
	    FROM COMMENTS c
	    INNER JOIN MEMBER m ON c.USER_NO = m.USER_NO
	    WHERE c.BOARD_NO = #{boardNo}
        START WITH c.comment_parents = 0
        CONNECT BY PRIOR c.comment_no = c.comment_parents
        ORDER SIBLINGS BY c.comment_no
	</select>
	
	<!-- 댓글 등록 -->
	 <insert id="commentsInsert">
	  <selectKey keyProperty="commentNo" resultType="int" order="AFTER">
         SELECT SEQ_COMMENT_NO.CURRVAL FROM DUAL
      </selectKey>
        INSERT INTO COMMENTS (COMMENT_NO, BOARD_NO, USER_NO, COMMENT_CONTENT, COMMENT_DATE, COMMENT_PARENTS, DEEP)
        VALUES (SEQ_COMMENT_NO.NEXTVAL, #{boardNo}, #{userNo}, #{commentContent}, SYSDATE, #{commentParents}, #{deep})
    </insert>
    
    <!-- 댓글 조회 ajax 1개 그려주기용 -->
    <select id="selectCommentById" resultType="CommentsDTO">
    	SELECT c.*, m.USER_NAME
	    FROM COMMENTS c
	    INNER JOIN MEMBER m ON c.USER_NO = m.USER_NO
	    WHERE c.COMMENT_NO = #{commentNo}
    </select>
    
    <!-- 댓글 논리 삭제 -->
	<update id="commentDelete">
		UPDATE COMMENTS SET COMMENT_STATUS='1' WHERE COMMENT_NO = #{commentNo}
	</update>
	
	<!-- 댓글 수정 -->
	<update id="modifyComment">
		UPDATE COMMENTS
		SET COMMENT_CONTENT = #{commentContent}
		WHERE COMMENT_NO = #{commentNo}	
	</update>



</mapper>