<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.member.mapper.MemberMapper">

	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="MemberDTO" keyProperty="id">
		INSERT INTO member (USER_NO, USER_PWD, USER_NAME, EMAIL, PHONE, ADDRESS, ADDRESS_DETAIL, POSTCODE, NOTE)
		VALUES (SEQ_USER_NO.NEXTVAL, #{userPwd}, #{userName}, #{email}, #{phone}, #{address}, #{addressDetail}, #{postCode}, #{note})
	</insert>
	
	<!-- 중복체크 -->
	<select id="overlapCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE ${valueType} = '${value}'
	</select>
	
	<!-- 로그인 -->
	<select id="getUserByEmail" resultType="MemberDTO">
		SELECT * FROM MEMBER WHERE email = #{email}
	</select>
	
	
</mapper>